body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #000;
    padding: 0;
}

.text-main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.text-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.clr-one {
    color: #000000 !important;
}

.clr-two {
    color: #737373;
}

.bg-three {
    background: #e8e8e8;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.massive {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    line-height: 5rem;
}

.massive-2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    line-height: 2rem;
}

.logo {
    max-width: 70px;
}

.arrow-right {
    width: 24px;
    margin-left: 10px;
}

.arrow-right.white {
    filter: invert(1);
}

.cta-button {
    border-radius: 30px;
    font-weight: 800;
}

.person-image-wrapper {
    max-width: 100%;
}



.person-card {
    max-height: 700px !important;
    background: rgba(232, 232, 232, .6);
    border-radius: 20px;
    box-shadow: 1px -1px 2px rgba(0, 0, 0, .4);
    overflow: hidden;
}

.mt-person-card {
    margin-top: 100px;
}


.product-image {
    width: 150px;
}

.btn-transparent {
    background: transparent;
    border: 1px solid #737373;
    color: #000;
    font-weight: 800;
    padding: 15px 20px;
    border-radius: 35px;
}

.code-bg {
    background: url("/assets/cc_logo_4_backdrop.png") no-repeat;
    background-size: 100%;
}

.person-image-benji {
    width: 100%;
    position: relative;
    right: 3.6%;
    top: 17px;
}

.person-image-ashok {
    width: 100%;
    position: relative;
    top: 17px;
    left: 17px;
}

.person-image-mike {
    width: 130%;
    position: relative;
    top: 17px;
    right: 19%;
}

.grey-section {
    background: transparent;
}

/*** Media Queries for tab and above ***/

@media only screen and (min-width: 992px) {
    .person-image-mike {
        position: relative;
        width: 700px;
        left: 63px;
        top: -98px;
    }

    .person-image-benji {
        position: relative;
        width: 500px;
        right: 16px;
        top: -151px;
    }

    .person-image-ashok {
        position: relative;
        bottom: 170px;
        width: 600px;
        left: 18px;
        top: -170px;
    }

    .person-card {
        max-height: 330px !important;
        overflow: visible;
    }

    .grey-section {
        background: #e8e8e8;
    }
}